body {


    background-color: hsl(2, 57%, 40%);
    background-image: repeating-linear-gradient(transparent, transparent 50px, rgba(0, 0, 0, .4) 50px, rgba(0, 0, 0, .4) 53px, transparent 53px, transparent 63px, rgba(0, 0, 0, .4) 63px, rgba(0, 0, 0, .4) 66px, transparent 66px, transparent 116px, rgba(0, 0, 0, .5) 116px, rgba(0, 0, 0, .5) 166px, rgba(255, 255, 255, .2) 166px, rgba(255, 255, 255, .2) 169px, rgba(0, 0, 0, .5) 169px, rgba(0, 0, 0, .5) 179px, rgba(255, 255, 255, .2) 179px, rgba(255, 255, 255, .2) 182px, rgba(0, 0, 0, .5) 182px, rgba(0, 0, 0, .5) 232px, transparent 232px),
        repeating-linear-gradient(270deg, transparent, transparent 50px, rgba(0, 0, 0, .4) 50px, rgba(0, 0, 0, .4) 53px, transparent 53px, transparent 63px, rgba(0, 0, 0, .4) 63px, rgba(0, 0, 0, .4) 66px, transparent 66px, transparent 116px, rgba(0, 0, 0, .5) 116px, rgba(0, 0, 0, .5) 166px, rgba(255, 255, 255, .2) 166px, rgba(255, 255, 255, .2) 169px, rgba(0, 0, 0, .5) 169px, rgba(0, 0, 0, .5) 179px, rgba(255, 255, 255, .2) 179px, rgba(255, 255, 255, .2) 182px, rgba(0, 0, 0, .5) 182px, rgba(0, 0, 0, .5) 232px, transparent 232px),
        repeating-linear-gradient(125deg, transparent, transparent 2px, rgba(0, 0, 0, .2) 2px, rgba(0, 0, 0, .2) 3px, transparent 3px, transparent 5px, rgba(0, 0, 0, .2) 5px);
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Josefin Slab', serif;
    font-family: 'Poiret One', cursive;
    font-family: 'Poppins', sans-serif;
    background-color: #ea1547;
    overflow: hidden;

}

.button {
    left: 48%;
    top: 55%;
    transform: translate(-50%, -50%);
    position: absolute;
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: #16031f;
    background-image: url(icon.jpg);
    background-position-x: -2.7rem;
    background-position-y: 2.4rem;
    background-size: 27rem;
    border-radius: 10px;
    padding: 100px;
    box-shadow: 0px 0px 30px 5px rgba(0, 0, 0, 0.817);
    width: 170px;
    height: 300px;
    cursor: pointer;
    z-index: 1;
}

button {
    position: relative;
    top: -7rem;
    left: 4.4rem;

}

.b2:hover {
    background: #1d8020;
}

.b2 {
    background-color: #119f16;
    border: none;
    color: #ffffff;
    padding: 10px 35px;
    border-radius: 5px;
    font-size: 20px;

}

input {
    margin: 4PX;
    position: relative;
    width: 273px;
    outline: none;
    border: 0;
    color: rgb(0, 0, 0);
    left: -3.987rem;
    top: -6rem;
    padding: 4%;

}
input:focus{
    outline: 1px solid  #ea1547;
}

.button pre h3 {
    color: white;
    position: relative;
    left: -0.356rem;
    text-shadow: 0px 0px 15px #000000;
    font-weight: bolder;
    font-size: 23px;
    top: 17.3rem;
}

.button pre {
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Josefin Slab', serif;
    font-family: 'Poiret One', cursive;
    font-family: 'Poppins', sans-serif;
    position: relative;
    left: -2.8rem;
    top: -26.3rem;


}

.navbar {
    background-image: url(icon.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    z-index: 1;
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.444);

}

.navbar li a:hover {
    color: #ea1545;


}


.navbar ul {
    overflow: auto;
}

.navbar li {
    float: right;
    list-style: none;
    margin: 20px 20px;

}

.navbar li a {
    padding: 3px 3px;
    text-decoration: none;
    color: white;
    font-weight: bolder;
}

.g {
    position: absolute;
    top: .1rem;
    margin: 10px 10px;
}

h2 {
    display: flex;
    letter-spacing: .6rem;
    flex-direction: column;
    color: #ffffff;
    position: absolute;
    left: 4.8rem;
    top: 12px;
    TEXT-shadow: 0px 0px 1px #000000;
}

.M {
    position: relative;
    top: -4rem;
    left: -3.700rem;

}

.DATE {
    padding: 4%;
    position: relative;
    width: 85px;
    top: -0.1rem;

}

.MONTH {
    position: relative;
    padding: 4%;
    width: 85px;
    left: 6.4rem;
    top: -2.17rem;

}

.year {
    position: relative;
    left: 12.81rem;
    top: -4.2rem;
    padding: 4%;
    width: 85px;
}

.radio123 select {
    width: 290.8px;
    padding: 4%;
    position: relative;
    left: 0rem;
    top: -2.5rem;
}

.h h6 {
    color: white;
    position: relative;
    left: 1px;
    top: -11.3rem;
}

.h2 h6 {
    position: relative;
    color: white;

    left: 1px;
    top: -9.96rem;

}

.head {
    color: #e9ebee;
    position: relative;
    top: -30.378rem;
    font-size: 15px;
    left: 4.3rem;
}

.head p {
    color: #ffffff;
    TEXT-shadow: 0px 0px 10px #000000;
}


#hamza {
    display: none;
}

@media (max-width: 40.625em) {

    .button {
        left: 50%;
        top: 60%;
        transform: translate(-50%, -50%);
        width: 100px;
        background-color: #16031f;
        background-image: none;
        height: 230px;
    }

    .radio123 select {
        width: 220px;
        font-family: 'Josefin Sans', sans-serif;
        font-family: 'Josefin Slab', serif;
        font-family: 'Poiret One', cursive;
        font-family: 'Poppins', sans-serif;
        top: 5px;

        padding: 4%;
    }

    .DATE {
        padding: 4%;
        position: relative;
        width: 60px;
        display: none;
        top: -10px;


    }

    .MONTH {
        display: none;
        position: relative;
        padding: 4%;
        width: 60px;
        top: -38px;
        left: 78.6px;


    }

    .year {
        display: none;
        position: relative;
        left: 9.91rem;
        top: -4.06rem;
        padding: 4%;
        width: 60px;
    }

    #hamza {
        display: inline;
        top: -90px;

        font-family: 'Josefin Sans', sans-serif;
        font-family: 'Josefin Slab', serif;
        font-family: 'Poiret One', cursive;
        font-family: 'Poppins', sans-serif;
        position: relative;



    }

    .h2 h6 {
        position: relative;
        color: white;

        left: 1px;
        top: -6.8rem;
    }

    .ali {
        position: relative;
        width: 207px;
        top: -120px;
        font-family: 'Josefin Sans', sans-serif;
        font-family: 'Josefin Slab', serif;
        font-family: 'Poiret One', cursive;
        font-family: 'Poppins', sans-serif;
        position: relative;
    }

    .b2 {
        position: relative;
        left: 64px;
        top: -80px;
        padding: 10px;
    }

    a {
        display: none;

    }

    .navbar {
        height: 80px;
        background-size: 135%;
        background-position-x: -68px;

    }

    .h h6 {
        position: relative;
        top: -137px;
    }

    .head p {
        width: 140%;
        position: relative;
        top: 50px;
        left: -22px;
        font-size: 13px;
    }

    .button pre h3 {
        font-size: 18px;
        position: relative;
        top: 290px;
    }
}